body {
  background-color: #F8F8FF;
  color: #192429;
  font-family: 'Josefin Sans', sans-serif !important;
}   
   
   
   form {
      width: 40vw;
      margin: 1em auto;
      padding: 3em 2em 2em 2em;
      border: 1px solid #ebebeb;
      box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    }
    
    .group { 
      position: relative; 
      margin-bottom: 45px; 
    }
    
    input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      color: #636363;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #DEDBD5;

    }
    
    input:focus { outline: none; }
    
    .center {
      text-align: center;
    }
 
    .center img {
      text-align: center;
    }
  
    .logo {
      margin-bottom: 1rem;
    }
    
    .logo img {
      width: 25rem;

    }


    @media (max-width: 576px) { 
      
      form {
        width: 90%;
      }

      .logo img {
        width: 18rem;
  
      }

     }
    /* Button */
    
    .button {
      position: relative;
      display: inline-block;
      padding: 12px 24px;
      margin: .3em 0 1em 0;
      width: 100%;
      vertical-align: middle;
      color: #192429;
      font-size: 16px;
      line-height: 20px;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      letter-spacing: 1px;
      background-color: #DEDBD5;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.15s ease;
      font-weight: bold;
    }
    .button:focus { outline: 0; }
    
  .button:hover {
    background-color: #BBB4AC;
    color: #F8F8FF;
  }

    hgroup { 
      text-align:center;
      margin-top: 4em;
      font-weight: 300; 
    }
    